<div class="container">
<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div class="mb-3">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Log In", class: "btn btn-primary" %>
  </div>
<% end %>
</div>