<div class="container">
<%= Time.now.strftime('%F')%>
  <h1>New Order</h1>
  <%= form_for Order.new do |f| %>
    <div class="mb-3">
      <%= f.label :RecipientFirstName %>
      <%= f.text_field :first, autofocus: true, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :RecipientLastName %>
      <%= f.text_field :last, autofocus: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :GiftCardValue %>
      <%= f.text_field :value, autofocus: true, class: "form-control", id: :val, onchange: "fun()" %>
    </div>
    <div class="mb-3">
      <%= f.label :AmountPayable %>
      <%= f.number_field :commission, step: :any, autofocus: true, class: "form-control", id: :res %>
    </div>
    <div class="mb-3">
      <%= f.label :RecipientMobileNumber %>
      <%= f.text_field :number, autofocus: true, class: "form-control"%>
    </div>
    <div class="mb-3">
      <%= f.label :Address %>
      <%= f.text_field :address, autofocus: true, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.number_field :user_id, id: :order_user_id, class: "form-control", value: current_user.id, type: :hidden %>
    </div>
    <div class="mb-3">
      <%= f.submit "Place Order", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<script>
function fun() {
  num = document.getElementById("val").value;
  result = parseInt(num)*(0.05);
  document.getElementById("res").value=result;
}
</script>